<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="endpointSection" type="Bella.Runtime.Common.Model.RegisterEndpointConfig, Runtime"/>
		<section name="bindingSection" type="Bella.Runtime.Common.Model.RegisterBindingConfig, Runtime"/>
		<section name="logging.categoryLogLevel" type="System.Configuration.NameValueSectionHandler" />
	</configSections>
	<appSettings>
		<add key="endpoint" value="http://localhost:3333/bella" />

		<add key="buildLocation" value="../gen" />
		<add key="useDll" value="NleDomain.dll" />
		<add key="tryCompileDll" value="NleDomain.dll" />
		<add key="domain" value="Bella" />
		<add key="saveBuildFiles" value="true" />
		<add key="showCompilationWarnings" value="false" />

		<!--For Windows Service use full Paths-->		
		<!--<add key="sourcesLocation" value="..\..\..\..\..\BellaTestComponents\__shared;..\..\..\..\..\BellaTestComponents\components\ProjectReceiver"/>--> 
		<add key="sourcesLocation" value="../src"/>

		 <!--<add key="domainDbEndpoint" value="mssql://Data Source=localhost,1433;User Id={Username};Password={Password};Initial Catalog={0};Integrated Security=False;TrustServerCertificate=True;" />--> 
		<add key="domainDbEndpoint" value="bella://storage" />

		<add key="ServiceName" value="Bella" />
		<add key="msSqlDbName" value="BellaDB" />
		<add key="SqlSaveQueryChunkSize" value="300" />
		<add key="SqlCommitRetryDelay" value="1000" />
		<add key="domainDbUseNames" value="true" />
		<!--Time in minutes until drop archive entries from RAM. Max value is 2E+303 that value in minutes that miliseconds less than double max-->
		<add key="archiveUnloadTime" value="1" />
		<add key="maxDegreeOfParallelism" value="4" />

		<add key="BusConfigurationString" value="ComponentName=Bella.ExternalService;Transport=MSMQ;ConfigPath=file://busConfig.json" />
		<add key="ConsumerBusConfigurationString" value="" />
	</appSettings>
	<bindingSection>
		<bindings>
			<add name="WSBinding" type="WSHttpBinding" maxBufferSize="65536000" maxBufferPoolSize="65536000" maxReceivedMessageSize="65536000" sendTimeout="600" receiveTimeout="600"/>
		</bindings>
	</bindingSection>
	<endpointSection>
		<endpoints>
			<add bindingName="WSBinding" endpoint="https://external-service.azurewebsites.net/ExternalService" name="ExternalService" />
		</endpoints>
	</endpointSection>
	<logging.categoryLogLevel>
		<add key="Microsoft.AspNetCore.Hosting.Diagnostics" value="Error" />
	</logging.categoryLogLevel>
</configuration>
